.flag{
    position: fixed;
    top: 34%;
    left: -12px;
    width: 1.5em;
    background-color: green;
    height: 1.5em;
    overflow:hidden;
    border-radius: 30em;
    border-style: solid;
    border-width: 1px;
    border-color: #dab19f;
}
.flag img{
    height: 1.5em;
}
.secflag{
    margin-top: 2em;
}
