p{
    margin-left: 3em;
    margin-right: 3em;
}
body{
    line-height: 2em;
}
        
        .trans span {
            position: absolute;
            font-weight: bold;
            /*visibility:hidden;*/
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            -ms-transition-property: -ms-transform;
            -o-transition-property: -o-transform;
            transition-property: transform;
        }
      
        .trans span:last-child {
            position: relative;
            visibility: hidden;
        }
        
        body {
            height: 20000px;
            min-height: 150vh;
            padding-top: 700px;
        }


        /*keyframes from here*/

        .animate-top-mid{
            visibility:visible!important;
            animation: mid-top 0.3s  ease-in-out reverse;
            animation-fill-mode: forwards;
        }
        .animate-mid-bottom{
            visibility:visible!important;
            animation: bottom-mid 0.3s  ease-in-out reverse;
            animation-fill-mode: forwards;
        }
        .animate-mid-top{
            visibility:visible!important;
            animation: mid-top 0.3s  ease-in-out;
            animation-fill-mode: forwards;
        }
        .animate-bottom-mid{
            visibility:visible!important;
            animation: bottom-mid  0.3s ease-in-out;
            animation-fill-mode: forwards;
        }

         .trans:before {
            content: '||';
            color: gold;
            
            } 
        
        @keyframes mid-top {
            100% {
                -webkit-transform: translateY(-0.8em) scale(0.8);
                opacity: 0;
                scale: 0.5;
            }
            0% {
                -webkit-transform: translateY(0px) scale(1);
                opacity: 1;
                scale: 1;
            }
        }
        
        @keyframes bottom-mid {
            100% {
                -webkit-transform: translateY(0px) scale(1);
                opacity: 1;
            }
            0% {
                -webkit-transform: translateY(0.8em) scale(0.8);
                opacity: 0;
            }
        }